<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pregunta2</title>
  <link rel="icon" href="https://preguntados.com/resources/images/banner/willy2@3x.svg">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/custom.css">
 <link rel="stylesheet" href="../public/css/bootstrap.css">
  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
</head>

<body class="login_body">
  <main class="login_main">
    <div class="container py-5">
      <div class="row justify-content-center pt-5">
        <div class="col-md-6">
          <div class="card border-0 shadow" style="background-color: rgba(255, 255, 255, 0.8);">
            <div class="card-header card-header-custom text-center d-flex align-items-center">
              <div class="icon-container">
                <img src="https://media.baamboozle.com/uploads/images/295756/1664314546_105122_gif-url.gif" alt="icon" width="40" height="40" class="icono">
              </div>
              <span class="iniciar-sesion">Iniciar Sesión</span>
            </div>
            <div class="card-body">
              <form action="/login/signIn" method="post">
                <div class="form-group d-flex">
                  <label for="email" class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512">
                      <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                    </svg>
                  </label>
                  <input type="email" name="email" class="form-control" id="email" placeholder="Ingresa tu correo">
                </div>
                <div class="form-group d-flex">
                  <label for="password" class="icon-container">
                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512">
                      <path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/>
                    </svg>
                  </label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña">
                </div>
                <div class="form-group text-center">
                  <p class="mb-3">¿Todavía no tenés una cuenta? <a href="/login/registro">Registrarme</a></p>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-custom w-50">Iniciar Sesión</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
