<div class="container mt-5 pt-5 pb-5 mb-5 d-flex justify-content-center ">
  <div class="rounded p-3 w-75" style="background-color:#484f59">
    <h2 class="text-white">Ranking Global</h2>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Usuario</th>
          <th scope="col">Partidas Ganadas</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="rankingTableBody">
      </tbody>
    </table> 
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  const apiUrl = 'http://127.0.0.1/ranking/get_ranking_data';

  axios.get(apiUrl)
    .then(response => {
      const data = response.data;

      const tbody = document.getElementById('rankingTableBody');

      data.ranking.forEach(item => {
        const row = document.createElement('tr');
        row.innerHTML = `
          <th scope="row">${item.i}</th>
          <td>${item.userName}</td>
          <td>${item.ganadas}</td>
          <td>
            <a href="/usuario/perfil?userName=${item.userName}"><button class="btn btn-primary w-100">Ver perfil</button></a>
          </td>
        `;

        tbody.appendChild(row);
      });
    })
    .catch(error => {
      console.error('Error:', error);
    });
</script>
