<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sin Preguntas Disponibles</title>
</head>
<body>
    <div>
        <h1>No hay más preguntas disponibles en este momento.</h1>
        <p>Lo sentimos, pero no hay más preguntas para responder en este momento. Puedes volver al <a href="/home">Inicio</a> o explorar otras secciones de la aplicación.</p>
    </div>
</body>
</html>
